
/*
    
*/
div#todo-list > p, p.completed {
    background-color: green;
    color: white;
    padding: .5em;
    border-radius: .2em;
    display: inline-block;
    margin-right: .75em;
}

#labelList.completed {
    color: white;
}

#notCompletedLabel.completed {
    color: black;
}
#notCompletedLabel.notCompleted {
    color: white;
}

#descriptionDiv.completed {
    color: black;
}
#descriptionDiv.notCompleted {
    color: white !important;
}

p.completed {
    text-decoration: line-through;
    background-color: lightgreen !important;
}

body {
    margin: 20px !important;
}
